# DS-SF-34 | Unit Project | 1 | Research Design | Starter Code

In this first unit project, you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer: Determining which customers will covert to paying customers

> ### Question 2.  What are the predictors/covariates?

Answer: Age, gender, location, profession, days since last log in, activity score 1 = active, 0 = inactive

> ### Question 3.  What timeframe is this data relevent for?

Answer: January-April 2015

> ### Question 4.  What is the hypothesis?

Answer: If the profession matches what we do, and they have been really active, then we will be able to predict if the customer will be a paying customer.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [22]:
import os
import pandas as pd

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
5        1  760.0  3.00       2.0
6        1  560.0  2.98       1.0
7        0  400.0  3.08       2.0
8        1  540.0  3.39       3.0
9        0  700.0  3.92       2.0
..     ...    ...   ...       ...
390      1  800.0  3.05       2.0
391      1  660.0  3.88       2.0
392      1  600.0  3.38       3.0
393      1  620.0  3.75       2.0
394      1  460.0  3.99       3.0
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

In [35]:
df.sort_values(['prestige'], ascending=True)

     admit    gre   gpa  prestige
126      1  600.0  3.54       1.0
234      1  800.0  3.53       1.0
338      0  540.0  3.20       1.0
113      0  600.0  3.22       1.0
217      1  460.0  3.64       1.0
106      1  700.0  3.56       1.0
91       1  720.0  3.64       1.0
88       0  700.0  3.28       1.0
241      1  520.0  3.81       1.0
79       1  620.0  4.00       1.0
..     ...    ...   ...       ...
322      0  500.0  3.01       4.0
142      0  620.0  3.94       4.0
144      0  580.0  3.40       4.0
318      1  480.0  3.71       4.0
317      1  780.0  3.63       4.0
314      0  540.0  3.46       4.0
313      1  520.0  3.65       4.0
254      1  740.0  3.52       4.0
199      0  580.0  3.77       4.0
236      1  660.0   NaN       NaN

[400 rows x 4 columns]

> ### Question 5.  Create a data dictionary.

Answer: TODO

(Use the template below)

Variable | Description | Type of Variable
---|---|---
admit | 0 = No, 1 = Yes | Categorical
gre | integer | Continuous
gpa | integer | Continuous
prestige | 1 = Highest Prestige, 2 = High Prestige, 3 = Low prestige, 4 = Lowest Prestige | Categorical

We would like to explore the association between X and Y.

> ### Question 6.  What is the outcome?

Answer: That as you get higher in the prestige of the school that the student came from, the higher their gre and gpa are going to be

> ### Question 7.  What are the predictors/covariates?

Answer: admit, gre, gpa, prestige

> ### Question 8.  What timeframe is this data relevent for?

Answer: This data is only relevant for a sample of all of the admissions into UCLA

> ### Question 9.  What is the hypothesis?

Answer: If the gre and gpa of the student is high, then they should more likely be admitted into UCLA

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer: Determine if GRE and GPA of the student is the main deciding factor of admission into UCLA

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer: to summarize data to give meaning to it

> ### Question 12.  What are the assumptions of the distribution of data?

Answer: some assumptions are that there will always be a bell curve, and that the sample will always match what the population is

> ### Question 13.  How will determine the distribution of your data?

Answer: start by drawing a basic histogram

> ### Question 14.  How might outliers impact your analysis?

Answer: outliers may skew your data in one direction, and/or it may show a hidden meaning in your data

> ### Question 15.  How will you test for outliers?

Answer: Identify what kind of data i am dealing with, and really see if it is possible to get an answer like that. For example, if i had a data set of how hot in the span of one month it got in a particular area on Earth, and i had a data point saying it was 300 degrees, i would look up if that was even possible on earth.

Another way to test for outliers would be to graph it on a box plot since you break it up into quartiles.

> ### Question 16.  What is colinearity?

Answer: A linear relationship between two variables

> ### Question 17.  How will you test for covariance?

Answer: TODO

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: TODO